img {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    max-height: auto;
}
h1 {
    font-family: cursive, Arial, sans-serif;
    text-align: center;
}
.center {
    font-family: cursive, Arial, sans-serif;
    text-align: center;
}
